@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,355;1,355&family=Pontano+Sans:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.border-gradient {
    border: linear-gradient(to right, #8e2de2, #4a00e0) !important;
    /* border-radius: 50%; */
}

.toggle-icon {
    display: none;
}

main {
    display: none;
}

/*  */
@media(max-width:600px) {
    .responsive-works-box {
        width: 300px;
    }
}

/* responsive navbar */

@media (max-width:1023px) {
    .toggle-icon {
        display: block;
    }

    .responsive-navbar {
        left: -100%;
        position: absolute;
        top: 48px;
        background: orange;
        width: 100%;
        height: auto;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 99;
        overflow: hidden;
        gap: 10px;
        transition: all 0.6s;
    }

    .active-nav {
        transition: all 0.6s;
        left: 0;
    }

}